mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
            img.video-mixin-bg(src=video.thumbUrl, crossorigin)
            //- if isHeroku
            //-     img.video-mixin-bg(src=video.thumbUrl, crossorigin)
            //- else
            //-     img.video-mixin-bg(src="/" + video.thumbUrl, crossorigin)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} views